<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Secret Santa List</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="shortcut icon"
      href="{{ url_for('static', filename='img/favicon.ico') }}">
  </head>
  <body>
    <header id='header'>
    <img src='static/img/santa.png' width="=85px" height="95px"> <br>
    &nbsp&nbsp 
    <a href="#">Home</a>
    &nbsp&nbsp     
    <a href="{{ url_for('randomize_list') }}">View List</a>&nbsp&nbsp
    </header>
    <video autoplay muted id="headerPopup">
      <source src="static/img/opening_vid.mp4" type="video/mp4" preload="auto">
    </video> 
  </div>
    <!-- div with form and input button -->
  <div id="adding_santa">
    <div class="santa_container">
      <h1>Add Santa</h1>
      <div>
        <div class="error-message" >
        {{ display_error }}
        </div>
    </div>
      <div>
        <form action='/add_participant' method="POST">
          <label for="participant">Add a Santa:</label>
          <input type="text" id="participant" name="participant" required>
          <button type="submit">Add</button>
        </form>
        <a href="{{ url_for('clear_list') }}" >Clear List?</a>
      </div>
    <div id='santa_list'>
      <table>
        {% for santa in participants %}
        <tr>
          <td id="santas">{{ santa.name }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <script>
      function toggleVideo() {
        const video = document.getElementById("headerPopup");
        const addingSantaDiv = document.getElementById('adding_santa');
        const videoPlayed = sessionStorage.getItem('videoPlayed');

        if (!videoPlayed) {
          video.addEventListener("ended", () => {
            video.style.display = "none";
            addingSantaDiv.style.display = "block";
            sessionStorage.setItem('videoPlayed', 'true');
          });
        } else {
          video.style.display = "none";
        }
      }
      window.onload = toggleVideo();
    </script>
  </body>
  </html>
